.add-task input {
    height: 70px;
    background-color: #72b5b7;
    color: #fff;
    margin: 0 20px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    padding: 0px 20px;
    width: 500px;
}

.add-task input:focus,
.add-task button:focus {
    outline: none;
}

.add-task button {
    background-color: #3498db;
    color: #fff;
    height: 70px;
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.task-form {
    display: flex;
    justify-content: center;
}